.block {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
    overflow: hidden;
}

#block1 {
    top: 100px;
    left: 50px;
    background-color: #c762a2;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#block2 {
    top: 200px;
    left: 150px;
    background-color: #349cc7;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#block3 {
    top: 100px;
    left: 250px;
    background-color: #45bb45;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#block4 {
    top: 200px;
    left: 350px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#block5 {
    top: 100px;
    left: 450px;
    background-color: orange;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#block6 {
    top: 200px;
    left: 550px;
    background-color: #a92b48;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.draggable {
    cursor: move;
    border: 16px double black;
}