<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Space Time</title>
</head>
<body>
<h1>Normal Space Time</h1>
<p>In real life you were absent for <%= normalTime.years %> years, <%= normalTime.months %> months, <%= normalTime.days %> days.</p>
</body>
</html>
