<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Space Time</title>
</head>
<body>
<h1>Quantum Space Time</h1>
<p>In quantum space you were absent for <%= quantumTime[0] %> years, <%= quantumTime[1] %> months, <%= quantumTime[2] %> days.</p>
</body>
</html>
