body {
    background: #ffdd57;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#backtext {
    background: red;
}
#fs {
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    margin-top: 50px;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.grid-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.grid-item code {
    font-family: Consolas, monospace;
    font-size: 16px;
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 3px;
}

.grid-item b {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

@media only screen and (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}
